body,p,li,ul,dl,dt,dd,h1,h2,h3,h4,h5{ margin:0; padding:0; font-family:Arial, Helvetica, sans-Serif;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
ul{ list-style:none;}
img{ border:none;}
table{ text-align:center}
.clear{ clear:both;}
.box{ width:1060px; margin:0 auto;}
.box ul{margin:0 auto;}
.top{ background:#000; height:8px;}
.hearder{ height:60px; padding:10px 0; width:1002px; margin:0 auto;}
.logo{ float:left; display:inline;}
.city{ float:right; display:inline; height:60px; line-height:60px; font-size:12px}
.city li { float:left; margin-left:5px;}
.city li a{ color:#000;}
.city li img{ margin-right:3px;}
.nav{ height:35px; line-height:35px; background:#000; font-size:12px;padding-left:50px;}
.nav li{ float:left; padding:0 3px; background:url(../img/nav.jpg) right no-repeat}
.nav li a{ color:#FFF}
.nav li a:hover{ color:#FC3}
.subnav{ font-weight:bold; color:#F60 ; height:25px; line-height:25px; font-size:12px;}
.subnav a{color:#000; margin-right:3px;}
.banner{ height:316px; background:url(../img/intaca3243_banbg.gif) repeat-x;}
.main{ width:1002px; margin:0 auto;padding-bottom:10px; overflow:hidden; font-size:12px; padding-top:15px;}
.liststyle{ width:267px; float:left; display:inline; margin-right:10px; overflow:hidden; background:url(../img/intaca3243_bg.jpg) no-repeat right; padding-right:48px;}
.lsit_tit{ color:#3a3c3b; height:40px; font-size:28px;line-height:40px; border-bottom:1px solid #999; margin-bottom:10px; padding-left:5px;}
.liststyle dl dt{color:#EC7001; background:url(../img/intaca3243_03.jpg) no-repeat left; padding-left:15px;}
.liststyle dl dt a{color:#EC7001; }
.liststyle dl dd{ line-height:190%; padding-left:15px;}
.liststyle dl a{ color:#4E4E4E; width:200px; padding:2px; display:block}
.liststyle dl dd a:hover{ background:#FF0}
.liststyle p{ color:#6F6F6F; line-height:190%;}
.liststyle p strong{ font-weight:bold; color:#EC7001; margin-bottom:5px;}
.lsit_pro{ width:677px; float:left;display:inline;}
.list_tit1{ height:40px; color:#3a3c3b;font-size:28px;  line-height:40px; border-bottom:1px solid #999; margin-bottom:10px; padding-left:5px;}
.company{ line-height:190%;}
.company dl{ margin-bottom:10px;}
.company dt{ float:left; overflow:hidden; display:inline; margin-right:10px; width:213px;}
.company dd{ float:left; width:405px;}
.products{ overflow:hidden; }
.products dl{ margin-bottom:15px; clear:both; overflow:hidden;}
.products dl dt{ border:#999 1px solid; padding:6px; float:left; display:inline; width:100px; margin-right:10px;}
.products dl dd{ width:547px; float:left; display:inline;}
.products dl dd strong a{ color:#000}
.products  p{ line-height:190%;}
.bottom{ background:#000; height:65px; color:#666; padding-top:20px; text-align:center; font-size:12px}
.bottom a{ color:#666}
.bor_bot{ background:url(../img/intaca3243_07.jpg) no-repeat; height:30px; margin:10px 0; line-height:30px;}
.bor_bot a{ font-size:14px; text-decoration:underline; color:#EC7001; padding-left:455px; font-weight:bold;}

.contact p{ color:#6F6F6F; line-height:190%;}
.contact p strong{ font-weight:bold; color:#EC7001; margin-bottom:5px;}
.contact span{ color:#000; font-weight:bold;}
.other{ margin:10px 0;}
.other li{ float:left; display:inline; margin-right:10px; width:112px;}
.other li a{ color:#000;}
#limo{ background:#FF0;}

table{border-collapSe:collapSe;border-spacing:0;border-left:1px solid #CCC;border-top:1px solid #ccc; color:#000; font-size:12px;}
th,td{border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
th{ text-align:center;}
.pro_con{width:677px;; overflow:hidden;}
.pro_con p{ line-height:190%; margin-top:10px;}
.pro_con img{ border:#f0f0f0 1px solid; margin-left:10px; width:300px; height:300px}
