 
<style>
.etw_right_content {
    float: left;
    width: 756px;
}

.quick {
    border-left: 1px solid #B8C9D6;
    height: 35px;
    line-height: 35px;
    width: 99%;
}
.quick span, .quick a {
    display: block;
    float: left;
}
.quick span.right {
    background: url("../images/ico.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 35px;
    width: 30px;
}
.quick a {
    color: #2262A9;
    margin-right: 5px;
}
.quick a:hover {
    color: #2262A9;
    font-weight: bold;
}
.quick span {
    margin-right: 5px;
}
.quick span a {
    color: #666666;
}
.quick span a:hover {
    color: #666666;
    font-weight: normal;
}
.pushlist {
    padding: 10px 0 0 15px;
} 
.clear {
    clear: both;
}
#footer {
    background: url("../images/footer_bg.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    width: 100%;
}
.foot {
    padding: 20px 0 0;
    text-align: center;
    width: 988px;
}
</style>
 

 
<div class="etw_right_content">
      <div class="quick"><span class="right"></span><span><a>市场拓展</a></span></div>
      <div class="pushlist">
        <h2 style="text-align:center">全球18种主要语言使用概况及对应搜索统计</h2>
          <table width="95%" border="0" cellspacing="1" cellpadding="1" class="table">
  <tbody><tr>
    <td width="47"><strong>语种 </strong></td>
    <td colspan="2"><strong>国&nbsp; 家 </strong></td>
    <td width="290"><strong>搜索引擎 </strong></td>
  </tr>
  <tr style="">
    <td width="47" rowspan="5"><strong>英语 </strong></td>
    <td width="56"><strong>欧 洲 </strong></td>
    <td width="391"><strong>英国</strong>、爱尔兰共和国、马耳他 </td>
    <td rowspan="5"> 
    <table width="100%" border="0" class="chil">
  <tbody><tr><td>&nbsp;<a target="_blank" href="http://www.google.com">www.google.com</a> </td>
  <td>&nbsp;<a target="_blank" href="http://www.yahoo.com">www.yahoo.com</a></td></tr>
  <tr style=""><td>&nbsp;<a target="_blank" href="http://www.aol.com">www.aol.com</a></td>
  <td>&nbsp;<a target="_blank" href="http://www.lycos.com">www.lycos.com</a></td></tr>
   <tr style=""><td>&nbsp;<a target="_blank" href="http://www.ask.com">www.ask.com</a></td>
      <td>&nbsp;<a target="_blank" href="http://www.bing.com">www.bing.com</a></td></tr>
     <tr style=""><td>&nbsp;<a target="_blank" href="http://www.google.ca">www.google.ca</a> </td><td>&nbsp;<a target="_blank" href="http://www.excite.com">www.excite.com</a></td></tr>
          <tr style=""><td>&nbsp;<a target="_blank" href="http://www.webcrawler.com">www.webcrawler.com</a></td><td>&nbsp;<a target="_blank" href="http://www.dogpile.com">www.dogpile.com</a></td></tr>
       <tr style=""><td>&nbsp;<a target="_blank" href="http://www.altavista.com">www.altavista.com</a></td>
       <td>&nbsp;<a target="_blank" href="http://ca.yahoo.com">ca.yahoo.com</a> </td></tr>
       <tr style="">
        <td>&nbsp;<a target="_blank" href="http://www.google.com.au">www.google.com.au</a></td> <td>
     &nbsp;<a target="_blank" href="http://www.google.co.uk">www.google.co.uk</a></td></tr><tr style=""><td>&nbsp;<a target="_blank" href="http://www.alltheweb.com">www.alltheweb.com</a></td><td></td></tr></tbody></table>
    </td>
  </tr>
  <tr style="">
    <td width="56"><strong>美 洲 </strong></td>
    <td width="391"><strong>美国</strong>、<strong>加拿大</strong>、牙买加、格安提瓜、巴布达、巴哈马、巴巴多斯、格林纳达、圭亚那、圣基茨、尼维斯、圣卢西亚、圣文森特、格林纳丁斯、多巴哥、多米尼克 </td>
  </tr>
  <tr style="">
    <td width="56"><strong>非 洲 </strong></td>
    <td width="391">赞比亚、冈比亚、加纳、肯尼亚、尼日利亚、纳米比亚、马拉维、毛里求斯、卢旺达、塞舌尔、塞拉利昂、坦桑尼亚、<strong>南非</strong>、斯威士兰、津巴布韦、利比里亚 </td>
  </tr>
  <tr style="">
    <td width="56"><strong>亚 洲 </strong></td>
    <td width="391"><strong>印度、巴基斯坦</strong>、菲律宾、新加坡 </td>
  </tr>
  <tr>
    <td width="56"><strong>大洋洲 </strong></td>
    <td width="391"><strong>澳大利亚</strong>、斐济、基里巴斯、马绍尔、新西兰、巴布亚新几内亚、瓦努阿图 </td>
  </tr>
  <tr style="">
    <td width="47" rowspan="2"><strong>西班牙语 </strong></td>
    <td width="56"><strong>欧&nbsp; 洲 </strong></td>
    <td width="391"><strong>西班牙 </strong></td>
    <td rowspan="2"><table width="100%" border="0" class="chil">
<tbody><tr style=""><td><a target="_blank" href="http://www.ya.com">www.ya.com</a></td>
     <td><a target="_blank" href="http://www.ozu.com">www.ozu.com</a></td></tr>
     <tr style=""> <td><a target="_blank" href="http://www.lycos.es/">www.lycos.es</a></td>
     <td> <a target="_blank" href="http://www.google.es">www.google.es</a></td></tr>
      <tr> <td> <a target="_blank" href="http://www.yahoo.es">www.yahoo.es</a>&nbsp;</td>
      <td><a target="_blank" href="http://www.terra.es/">www.terra.es</a></td></tr>
        <tr> <td> <a target="_blank" href="http://www.google.com.ar">www.google.com.ar</a></td>
       <td> <a target="_blank" href="http://ar.yahoo.com">ar.yahoo.com</a></td></tr>
       <tr> <td><a target="_blank" href="http://www.google.cl"> www.google.cl</a> </td>
    <td> <a target="_blank" href="http://mx.yahoo.com">mx.yahoo.com</a>&nbsp; </td></tr>
   </tbody></table></td>
  </tr>
  <tr style="">
    <td width="56"><strong>南&nbsp; 美 </strong></td>
    <td width="391"><strong>墨西哥、秘鲁、智利、阿根廷</strong>、古巴、危地马拉、洪都拉斯、乌拉圭、萨尔瓦多、尼加拉瓜、<strong>哥斯达黎加</strong>、巴拿马、多米尼加共和国、波多黎各、哥伦比亚、委内瑞拉、厄瓜多尔、玻利维亚、巴拉圭 </td>
  </tr>
  <tr>
    <td width="47" rowspan="2"><strong>阿拉伯语 </strong></td>
    <td width="56"><strong>非&nbsp; 洲 </strong></td>
    <td width="391"><strong>埃及</strong>、利比亚、突尼斯、<strong>阿尔及利亚</strong>、摩洛哥、苏丹、索马里、吉布提、科摩罗 </td>
    <td rowspan="2">
    <table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.arabo.com">www.arabo.com</a></td>
      <td><a target="_blank" href="http://www.ayna.com/">www.ayna.com</a></td></tr>
      <tr><td><a target="_blank" href="http://www.google.ae/">www.google.ae</a></td>
      <td><a target="_blank" href="http://www.yamli.com.ar">www.yamli.com.ar</a></td></tr>    
      <tr><td><a target="_blank" href="http://www.google.com.sa">www.google.com.sa</a> </td><td><a target="_blank" href="http://www.parseek.com/">www.parseek.com</a></td></tr>
     <tr><td> <a target="_blank" href="http://www.google.com.eg/">www.google.com.eg</a></td><td></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="56"><strong>中&nbsp; 东 </strong></td>
    <td width="391"><strong>阿联酋、沙特阿拉伯、卡塔尔</strong>、<strong>伊拉克</strong>、阿曼、也门、科威特、巴林、约旦、黎巴嫩、叙利亚、巴勒斯坦 </td>
  </tr>
  <tr>
    <td width="47" rowspan="4"><strong>法语 </strong></td>
    <td width="56"><strong>西&nbsp; 欧 </strong></td>
    <td width="391"><strong>法国</strong>、比利时、卢森堡、摩纳哥、瑞士西部 </td>
    <td rowspan="4">
    <table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.seek.fr/">www.seek.fr</a></td>
     <td> <a target="_blank" href="http://www.souany.com">www.souany.com</a> </td></tr>
     <tr><td> <a target="_blank" href="http://www.voila.fr">www.voila.fr</a> </td>
      <td><a target="_blank" href="http://www.altavista.fr">www.altavista.fr</a></td></tr>
     <tr><td> <a target="_blank" href="http://www.hotbot.fr">www.hotbot.fr</a></td><td> <a target="_blank" href="http://www.netscape.fr">www.netscape.fr</a></td></tr>
      <tr><td><a target="_blank" href="http://www.aol.fr ">www.aol.fr </a></td>
        <td><a target="_blank" href="http://www.google.co.za">www.google.co.za</a></td></tr>
       <tr><td><a target="_blank" href="www.lycos.fr">www.lycos.fr</a></td>
        <td><a target="_blank" href="http://www.google.gr">www.google.gr</a></td></tr>
       <tr><td> <a target="_blank" href="http://www.yahoo.fr/">www.yahoo.fr</a></td>
     <td> </td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="56"><strong>美&nbsp; 洲 </strong></td>
    <td width="391">加拿大（魁北克）、海地、马提尼克、瓜德罗普、圭亚那 </td>
  </tr>
  <tr>
    <td width="56"><strong>非&nbsp; 洲 </strong></td>
    <td width="391"><strong>阿尔及利亚</strong>、<strong>利比亚</strong>、突几内亚、马达加斯加、科特迪瓦、毛里塔尼亚、留尼旺、新喀里多尼亚、毛里求斯、乍得、卢旺达、中非、多哥、加蓬、马里、富图纳、布基纳法索、刚果（金）、刚果（布）、喀麦隆、贝宁、尼日尔、瓦利斯、布隆迪、塞内加尔、吉布提、科摩罗、塞舌尔、突尼斯、摩洛哥 </td>
  </tr>
  <tr>
    <td width="56"><strong>大洋洲 </strong></td>
    <td width="391">瓦努阿图、波利尼西亚 </td>
  </tr>
  <tr>
    <td width="47" rowspan="2"><strong>俄语 </strong></td>
    <td width="56"><strong>东&nbsp; 欧&nbsp; </strong></td>
    <td width="391"><strong>俄罗斯</strong>、白俄罗斯、乌克兰、立陶宛、爱沙尼亚、拉脱维亚、<strong>阿塞拜疆</strong></td>
    <td rowspan="2">
    <table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.yandex.ru">www.yandex.ru</a></td>
      <td><a target="_blank" href="http://www.rambler.ru/">www.rambler.ru</a></td></tr>
     <tr><td><a target="_blank" href="http://www.yahoo.ru">www.yahoo.ru</a></td>
     <td><a target="_blank" href="http://www.rootle.ru/">www.rootle.ru</a></td></tr>   
     <tr><td><a target="_blank" href="http://www.mail.ru">www.mail.ru</a></td>
       <td> <a target="_blank" href="http://www.google.ru">www.google.ru</a></td></tr>
       <tr><td><a target="_blank" href="http://www.Nigma.ru"> www.Nigma.ru</a> </td>
     <td><a target="_blank" href="http://www.weblist.ru">www.weblist.ru</a></td></tr></tbody></table>
     </td>
  </tr>
  <tr>
    <td width="56"><strong>中&nbsp; 亚 </strong></td>
    <td width="391"><strong>哈萨克斯坦</strong>、塔吉克斯坦、乌兹别克斯坦、吉尔吉斯斯坦、土库曼斯坦 </td>
  </tr>
  <tr>
    <td width="47" rowspan="3"><strong>&nbsp;</strong><strong>葡萄牙语 </strong></td>
    <td width="56"><strong>欧&nbsp; 洲 </strong></td>
    <td width="391"><strong>葡萄牙 </strong></td>
    <td width="290" rowspan="3">
    
   &nbsp;&nbsp;<table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.clix.pt/">www.clix.pt</a> </td><td><a target="_blank" href="http://www.google.pt">www.google.pt</a></td></tr>
     <tr><td><a target="_blank" href="http://pt.altavista.com">pt.altavista.com</a></td><td><a target="_blank" href="http://busca.uol.com.br">busca.uol.com.br</a></td></tr>
     <tr><td><a target="_blank" href="http://br.altavista.com">br.altavista.com</a> </td><td>&nbsp;<a target="_blank" href="http://www.aonde.com">www.aonde.com</a> </td></tr>
     <tr><td><a target="_blank" href="http://www.google.com.br/">www.google.com.br</a> </td><td>
     <a target="_blank" href="http://buscador.terra.com.br"> buscador.terra.com.br</a></td></tr><tr><td><a target="_blank" href="http://br.yahoo.com">br.yahoo.com</a>&nbsp;</td><td></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="56"><strong>非&nbsp; 洲 </strong></td>
    <td width="391"><strong>安哥拉</strong>、佛得角、几内亚比绍、莫桑比克、圣多美、普林西比 </td>
  </tr>
  <tr>
    <td width="56"><strong>南&nbsp; 美 </strong></td>
    <td width="391"><strong>巴西 </strong></td>
  </tr>
  <tr>
    <td width="47"><strong>德语 </strong></td>
    <td width="56"><strong>欧&nbsp;    洲 </strong></td>
    <td width="391"><strong>德国、奥地利</strong>、列支敦士登、匈牙利、捷克、斯洛伐克、卢森堡、 <br>
      瑞士（东部及中部） </td>
    <td width="290">
    <table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.google.de">www.google.de</a></td><td><a target="_blank" href="http://www.yahoo.de">www.yahoo.de</a></td></tr>
     <tr><td><a target="_blank" href="http;//www.altavista.de"> www.altavista.de</a></td><td>&nbsp;<a target="_blank" href="http://www.lycos.de">www.lycos.de</a></td></tr>
    <tr><td> <a target="_blank" href="http://www.aladin.de"> www.aladin.de</a>&nbsp;</td>
    <td><a target="_blank" href="http://www.acoon.de">www.acoon.de</a></td></tr>
     <tr><td><a target="_blank" href="http://www.allesklar.de">www.allesklar.de</a>&nbsp;</td><td><a target="_blank" href="http://www.fireball.de">www.fireball.de</a></td></tr>
     <tr><td colspan="2"><a target="_blank" href="http://www.web.deat.altavista.com">www.web.deat.altavista.com</a> </td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>意大利语 </strong></td>
    <td width="56"><strong>欧&nbsp;    洲 </strong></td>
    <td width="391"><strong>意大利</strong>、瑞士（南部）、圣马力诺、斯洛文尼亚、梵蒂冈 </td>
    <td width="290"><table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.it.altavista.com">www.it.altavista.com</a>&nbsp;</td><td>
      <a target="_blank" href="http://www.google.it">www.google.it</a></td></tr>
     <tr><td><a target="_blank" href="http;//www.it.yahoo.com">www.it.yahoo.com </a></td><td>
      <a target="_blank" href="http://www.lycos.it">www.lycos.it</a></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>土耳其语 </strong></td>
    <td width="56"><strong>亚&nbsp; </strong><strong>洲 </strong></td>
    <td width="391"><strong>土耳其</strong>、塞浦路斯 </td>
    <td width="290"><table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://tr.abacho.com">tr.abacho.com</a></td>
      <td><a target="_blank" href="http://www.altanvista.com">www.altanvista.com</a></td></tr>
      <tr><td><a target="_blank" href="http://www.arabul.com">www.arabul.com</a></td><td>
     <a target="_blank" href="http://www.google.com.tr">www.google.com.tr</a> </td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>波兰语 </strong></td>
    <td width="56"><strong>欧&nbsp; </strong><strong>洲 </strong></td>
    <td width="391"><strong>波兰</strong>、立陶宛 </td>
    <td width="290"><table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.wp.pl">www.wp.pl</a></td>
     <td><a href="http://www.onet.pl">www.onet.pl</a></td></tr>
     <tr><td><a target="_blank" href="http;//www.google.pl">www.google.pl</a></td><td></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>波斯语 </strong></td>
    <td width="56"><strong>中&nbsp; </strong><strong>东 </strong></td>
    <td width="391"><strong>伊朗</strong>、阿富汗、哈萨克斯坦 </td>
    <td width="290"><table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.google.com/intl/fa/">www.google.com/intl/fa/</a> </td><td>
     <a target="_blank" href="http://www.google.co.in">www.google.co.in</a> </td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>马来语 </strong></td>
    <td width="56"><strong>东南亚 </strong></td>
    <td width="391"><strong>马来西亚</strong>、印度尼西亚、文莱、新加坡 </td>
    <td width="290"><table width="100%" border="0" class="chil">
    <tbody><tr><td><a target="_blank" href="http://www.google.com.my">www.google.com.my</a></td><td><a target="_blank" href="http://www.sajasearch.com">www.sajasearch.com</a></td></tr>
    <tr><td><a target="_blank" href="http://malaysia.yahoo.com">malaysia.yahoo.com</a>&nbsp;</td><td><a target="_blank" href="http://searching.com.my">searching.com.my</a></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>泰&nbsp; 语 </strong></td>
    <td width="56"><strong>东南亚 </strong></td>
    <td width="391"><strong>&nbsp;</strong><strong>泰国 </strong></td>
    <td width="290"><table width="100%" border="0" class="chil">
    <tbody><tr><td><a target="_blank" href="http://www.google.co.th">www.google.co.th</a></td>
      <td><a target="_blank" href="http://www.yahoo.co.th">www.yahoo.co.th</a></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>越&nbsp; 南 </strong></td>
    <td width="56"><strong>东南亚 </strong></td>
    <td width="391"><strong>&nbsp;</strong><strong>越南 </strong></td>
    <td width="290"><table width="100%" border="0" class="chil">
    <tbody><tr><td><a target="_blank" href="http://www.google.com.vn">www.google.com.vn</a> </td>
      <td><a target="_blank" href="http://vn.yahoo.com">vn.yahoo.com</a></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>印 </strong><br>
      <strong>尼 </strong><br>
      <strong>语 </strong></td>
    <td width="56"><strong>东南亚 </strong></td>
    <td width="391"><strong>印度尼西亚、</strong>马来西亚<strong> </strong></td>
    <td width="290"><table width="100%" border="0" class="chil">
    <tbody><tr><td><a target="_blank" href="http://www.google.co.id">www.google.co.id</a></td>
      <td><a target="_blank" href="http://id.yahoo.com">id.yahoo.com</a></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>日 </strong><br>
      <strong>语 </strong></td>
    <td width="56"><strong>东&nbsp;    亚 </strong></td>
    <td width="391"><strong>&nbsp;</strong><strong>日本 </strong></td>
    <td width="290"><table width="100%" border="0" class="chil">
    <tbody><tr><td><a target="_blank" href="http://www.yahoo.co.jp">www.yahoo.co.jp</a></td>
      <td><a target="_blank" href="http://www.infoseek.co.jp">www.infoseek.co.jp</a></td></tr>
      <tr><td><a target="_blank" href="http://www.google.co.jp">www.google.co.jp</a></td>
     <td><a target="_blank" href="http://www.excite.co.jp">www.excite.co.jp</a></td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>韩&nbsp; 语 </strong></td>
    <td width="56"><strong>东&nbsp;    亚 </strong></td>
    <td width="391">&nbsp;朝鲜、<strong>韩国</strong></td>
    <td width="290"><table width="100%" border="0" class="chil"><tbody><tr><td>&nbsp;<a target="_blank" href="http://www.naver.com">www.naver.com</a></td>
     <td><a target="_blank" href="http://www.korea.com">www.korea.com</a>&nbsp;</td></tr></tbody></table></td>
  </tr>
  <tr>
    <td width="47"><strong>印 </strong><br>
      <strong>地 </strong><br>
      <strong>语 </strong></td>
    <td width="56"><strong>南&nbsp;    亚 </strong></td>
    <td width="391"><strong>印度</strong>、斐济 </td>
    <td width="290"><table width="100%" border="0" class="chil"><tbody><tr><td><a target="_blank" href="http://www.google.com/intl/hi">www.google.com/intl/hi</a></td>
      <td><a target="_blank" href="http://www.google.co.in">www.google.co.in</a></td></tr>
      <tr><td><a target="_blank" href="http;//www.khoj.com">www.khoj.com</a></td><td></td></tr></tbody></table></td>
  </tr>
</tbody></table>  
      </div>
    </div>
 