<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
	    <button class="btn btn-success" title="未读询盘" onclick="window.location.href='/Enquiry/UnReadEnquiryList'">
	        <i class="icon-signal" title="未读询盘" ></i>
	    </button>

	    <button class="btn btn-info" title="未读翻译" onclick="window.location.href='/Enquiry/UnReadEnquiryEmailList'">
	        <i class="icon-pencil" title="未读翻译"></i>
	    </button>

    <button class="btn btn-warning" title="未读邮件翻译" onclick="window.location.href='/Translation/UnReadTranslationList'">
	        <i class="icon-group" title="未读邮件翻译"></i>
	    </button>

	    <button class="btn btn-danger" title="添加邮件翻译" onclick="window.location.href='/Translation/EmailTranslationAdd'">
	        <i class="icon-cogs" title="添加邮件翻译"></i>
	    </button>
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
	    <span class="btn btn-success"></span>

	    <span class="btn btn-info"></span>

	    <span class="btn btn-warning"></span>

	    <span class="btn btn-danger"></span>
	</div>
</div><!-- #sidebar-shortcuts -->