<div class="navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <li class="grey">
            <a data-toggle="dropdown" title="未读询盘" class="dropdown-toggle" href="#">
                <i class="icon-tasks"></i>
                <span class="badge badge-grey">4</span>
            </a>
         </li>

        <li class="purple">
            <a data-toggle="dropdown" title="未读翻译" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell"></i>
                <span class="badge badge-important">8</span>
            </a>
        </li>

        <li class="green">
            <a data-toggle="dropdown" title="未读邮件翻译" class="dropdown-toggle" href="#">
                <i class="icon-envelope icon-animated-vertical"></i>
                <span class="badge badge-success">5</span>
            </a>
        </li>

        <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="/assets/avatars/avatar2.png" alt="Jason's Photo" />
                <span class="user-info">
                    <small>Welcome</small>
                    Json
                </span>

                <i class="icon-caret-down"></i>
            </a>

            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="/Base/DictionaryList">
                        <i class="icon-book"></i>
                        基础数据
                    </a>
                </li>
                 <li class="divider"></li>
                <li>
                    <a href="#">
                        <i class="icon-cog"></i>
                        修改密码
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/Handler/LoginOut">
                        <i class="icon-off"></i>
                        退出系统
                    </a>
                </li>
            </ul>
        </li>
    </ul><!-- /.ace-nav -->
</div><!-- /.navbar-header -->