@{
    ViewBag.Title = "<li><i class=\"\"></i><a href=\"/Manager/ManagerList\">服务中心</a></li><li class=\"active\">添加用户</li>";
}
@model Business.Web.PageModel.PageManager
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">添加用户</h4>
                <div class="widget-toolbar">
                    <label>
                        <small class="green">
                            <b></b>
                        </small>

                        <span onclick="window.location.href='/Manager/ManagerList'" class="btn btn-app btn-light btn-xs  no-border">
                            返回
                        </span>
                    </label>
                </div>
            </div>
            <div class="widget-body">
                <form class="form-horizontal" id="manager_add_form" enctype="multipart/form-data"   role="form">
                      <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户名: </label>

                        <div class="col-sm-9">
                            <input id="form-field-1" name="userName" placeholder="用户名" class="col-xs-10 col-sm-5" type="text">
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">*</span>
                            </span>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">密码: </label>

                        <div class="col-sm-9">
                            <input id="form-field-2" name="password" placeholder="密码" class="col-xs-10 col-sm-5" type="password">
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">*</span>
                            </span>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-3">真实姓名: </label>

                        <div class="col-sm-9">
                            <input id="form-field-3" placeholder="真实姓名" name="realName" class="col-xs-10 col-sm-5" type="text">
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">*</span>
                            </span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-4">公司名称: </label>

                        <div class="col-sm-9">
                            <input id="form-field-4" name="company" placeholder="公司名称" class="col-xs-10 col-sm-5" type="text">
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">*</span>
                            </span>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-select-1">语言: </label>

                        <div class="col-sm-9">
                            <select name="language" class="form-control col-xs-8 col-sm-4 width-30" id="form-field-select-1">
                                    @if (Model != null && Model.BaseDictionaries != null && Model.BaseDictionaries.Count != 0)
                                    {
                                        foreach (var baseDic in Model.BaseDictionaries)
                                        {
                                            <option value="@((short)baseDic.Id)">@baseDic.Value</option>
                                        }
                                    }
                            </select>
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle red">*</span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-select-1">账户类型: </label>

                        <div class="col-sm-9">
                            <select name="managerType" class="form-control col-xs-8 col-sm-4 width-30" id="form-field-select-1">
                                @if (Model != null && Model.ManagerTypes != null && Model.ManagerTypes.Count != 0)
                                {
                                    foreach (var managerType in Model.ManagerTypes)
                                    {
                                        <option value="@((short) managerType.Key)">@managerType.Value</option>
                                    }
                                }
                            </select>
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle  red">*</span>(普通用户不能常见管理员账号)
                            </span>
                        </div>
                    </div>
                    
                    <div class="space-4"></div>

                    <div class="form-group display-none" > 
                        <label class="col-sm-3 control-label no-padding-right" for="switch-field-1">是否自动分配: </label>

                        <div class="col-sm-9">
                            <div class="col-xs-3">
                                <label>
                                    <input id="switch-field-1" name="isAutoDistribute" checked="true" value="1" class="ace ace-switch ace-switch-7" type="checkbox">
                                    <span class="lbl"></span>
                                </label>
                            </div>
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle"></span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn_manager_add" class="btn btn-info" type="button">
                                <i class="icon-ok bigger-110"></i>
                                 提交
                            </button>
                             
                            <button class="btn" type="reset">
                                <i class="icon-undo bigger-110"></i>
                                重置
                            </button>
                            <span class="middle">（红色为必填项）</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#btn_manager_add").click(function () {
            if (formValidate()) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Manager/ManagerAdd",
                    data: $('#manager_add_form').serialize(),
                    success: function (response) {
                        art.dialog({
                            content: response.Description,
                            time: 3,
                            lock: true,
                            close:function() {
                                if (response.Code == 0) {
                                    window.location.href = "/Manager/ManagerList";}
                            }
                        });

                    },
                    error: function(data) {
                        art.dialog({
                            content: "error:" + data.responseText,
                            time: 2,
                            lock: true
                        });
                    }
                });
            }
        });
        function formValidate() {
            var userName = $("input[name=userName]").val().trim();
            var password = $("input[name=password]").val().trim();
            if (userName == "") {
                art.dialog({
                    content: "用户名不能为空", time: 2, width: 200,lock:true});
                return false;
            }
            if (password == "") {
                art.dialog({ content: "密码不能为空", width: 200, time: 2, lock: true });
                return false;
            }
            return true;
        }
    });

</script>